<div id="<%= dom_id activity %>">
  <p>
    <strong>Taskname:</strong>
    <%= activity.TaskName %>
  </p>

  <p>
    <strong>Priority:</strong>
    <%= activity.Priority %>
  </p>

  <p>
    <strong>Date:</strong>
    <%= activity.Date %>
  </p>

  <p>
    <strong>Progress:</strong>
    <%= activity.Progress %>
  </p>

  <p>
    <strong>Note:</strong>
    <%= activity.Note %>
  </p>

</div>
