
<h1>Activities</h1>

<table class="table table-striped table-bordered table-hover">
  <thead class="thead-dark">
  <tr>
    <th>Task Name</th>
    <th>Priority</th>
    <th>Date</th>
    <th>Progress</th>
    <th>Note</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>
</thead>
<% @activities.each do |activity| %>
  <tr>
    <td><%= activity.TaskName %></td>
    <td><%= activity.Priority %></td>
    <td><%= activity.Date %></td>
    <td><%= activity.Progress %></td>
    <td><%= activity.Note %></td>
	<td><%= link_to 'Show', activity %></td>
    <td><%= link_to 'Edit', edit_activity_path(activity) %></td>
    <td><%= link_to 'Delete', activity, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Activity', new_activity_path, class:"btn btn-secondary" %>
