<p style="color: green"><%= notice %></p>

<%= render @activity %>

<div>
  <%= link_to "Edit this activity", edit_activity_path(@activity) ,class:"btn btn-secondary" %> 
  <%= link_to "Back to activities", activities_path, class:"btn btn-secondary" %>
<br><br><br>
  <%= button_to "Destroy this activity", @activity, method: :delete %>
</div>
